.header {
  width: 100%;
  height: 100vh;
  background-color: snow;
  overflow: hidden;
  /* SECTION LANDING */
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid grey;
  padding: 2rem;
  background-color: #2f2a3d;
}

.header .nav__logo {
  margin-left: 15rem;
  font-size: 2rem;
}

.header .nav__logo a {
  color: white;
}

.header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  list-style: none;
  margin-right: 5rem;
}

.header .nav__list-item {
  margin-left: 2rem;
  font-size: 2rem;
}

.header .nav__list-item a {
  color: white;
}

.header__landing {
  background-color: #e1dffd;
  width: 100%;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0rem 12rem;
  -webkit-box-shadow: 0rem 0rem 5rem lightgray;
          box-shadow: 0rem 0rem 5rem lightgray;
}

.header .landing__desc {
  padding: 5rem 3rem;
}

.header .landing__desc--heading {
  font-size: 3.5rem;
}

.header .landing__desc--details {
  font-size: 1.7rem;
}

.header .landing__buttons {
  padding: 1rem 0;
  margin-top: 2rem;
}

.header .landing__desc-img {
  padding: 5rem 3rem;
}

.header .landing__desc-img--main-img {
  width: 60%;
}

.header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__about::before {
  content: "";
  position: absolute;
  background-color: #424242;
  height: 1px;
  width: 80%;
}

.header .about__1 {
  border: none;
  text-align: center;
  padding: 2rem 0;
  width: 25rem;
  height: 20rem;
  font-weight: lighter;
}

.header .about__2 {
  border: none;
  text-align: center;
  padding: 2rem 0;
  width: 25rem;
  height: 20rem;
}

.header .about__3 {
  border: none;
  text-align: center;
  padding: 2rem 0;
  width: 25rem;
  height: 20rem;
}

.header .about__4 {
  border: none;
  text-align: center;
  padding: 2rem 0;
  width: 25rem;
  height: 20rem;
}

.header .about__text {
  margin-top: 2rem;
  font-size: 2rem;
}

.signin {
  background-color: #56e6ce;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  width: 15rem;
  text-align: center;
  margin-right: 2rem;
  border: 1px solid lightgrey;
  color: #535353;
}

.signup {
  background-color: #6ae7fd;
  padding: 1rem 2rem;
  font-size: 2rem;
  border: 1px solid lightgrey;
  border-radius: 2rem;
  width: 15rem;
  text-align: center;
  color: #535353;
}
