.header {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 250, 250);
  overflow: hidden;

  // NAVBAR
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding: 2rem;
    background-color: rgb(47, 42, 61);
  }

  /* SECTION LANDING */
  &__landing {
    // background-color: rgb(253, 225, 215);
    background-color: rgb(225, 223, 253);
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0rem 15rem;
    box-shadow: 0rem 0rem 5rem rgb(211, 211, 211);
  }

  .landing {
    &__desc {
      padding: 5rem 3rem;

      &--heading {
        font-size: 4rem;
        text-shadow: 2rem 0.5rem 2rem rgb(161, 161, 161);
      }
      &--details {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }

    &__buttons {
      padding: 1rem 0;
      margin-top: 2rem;
    }

    &__desc-img {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5rem 0rem;

      &--main-img {
        width: 70%;
      }
    }
  }

  // ABOUT
  &__about {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: rgb(66, 66, 66);
      height: 1px;
      width: 80%;
    }
  }

  .about {
    &__img {
      width: 50%;
    }

    &__1 {
      border: none;
      text-align: center;
      padding: 2rem 0;
      width: 25rem;
      height: 15rem;
      font-weight: lighter;
    }

    &__2 {
      border: none;
      text-align: center;
      padding: 2rem 0;
      width: 25rem;
      height: 15rem;
    }

    &__3 {
      border: none;
      text-align: center;
      padding: 2rem 0;
      width: 25rem;
      height: 15rem;
    }

    &__4 {
      border: none;
      text-align: center;
      padding: 2rem 0;
      width: 25rem;
      height: 15rem;
    }

    &__text {
      margin-top: 2rem;
      font-size: 1.8rem;
    }
  }
}
