.nav {
  &__logo {
    margin-left: 15rem;
    font-size: 2rem;
  }

  &__logo a {
    color: white;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    list-style: none;
    margin-right: 5rem;
  }

  &__list-item {
    margin-left: 2rem;
    font-size: 2rem;
    a {
      color: white;
    }
  }
}
